.App {
  text-align: center;
  width: 80%;
  padding-top:50px ;
  margin: auto;
}

.App .input-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

.list h5{
  text-align: left;
}

.list ul li{
  text-align: left;
}

.incomplete ul li, .complete ul li{
  text-align: left;
}